body {
    font-family: monaco,Consolas,Lucida Console,monospace;
    background-color: white;
    padding-bottom: 20px;
}

.jumbotron {
    background-color: #00ADB5;
    color: #f3f6f8;
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: larger;
    font-weight: bold;
}

.add-to-cart{
    background-color: #00ADB5;
    border-color: #00ADB5;
    color: white;
}

.btn-shop{
    background-color: white;
    border-color: white;
    color: #00ADB5;
}

.Selling-spot{
    text-decoration-line: underline;
}